body{font-family: sans-serif;}
textarea{background: lightgrey;}
textarea:hover{background:lightgrey;}
ul{list-style: none;padding:0px;margin:0px;}
a{text-decoration: none; color:black;padding:0px 4px;}
a:hover{color:white;background:black;}
h3{margin:5px;}

/*********ACT MENU************/
.top_menu{
    background:rgba(0, 0, 0, 0.75);
    padding:0px;margin:0px;
    position: fixed;
    top:0px;left:0px;
    width:100%;
    height:40px;
    z-index: 10;
}
.top_menu li{
    display: inline-block; color:white;padding:0px 10px;
    position: relative;
    height: 100%;
    text-align: center;
    vertical-align: top;
    line-height:40px;
}
.top_menu li:not(.edit-actname):hover{cursor:pointer;color:black;background:rgb(177, 177, 177);}
.top_menu li h3{ font-size:20px; height: 100%; margin:auto; line-height: 40px;}

.act_selection ul{display:none; background:rgba(0, 0, 0, 1); min-width:200px}
.act_selection:hover>ul,
.act_selection ul:hover{display:block;}
.act_selection li{display: block;padding:5px 10px; width:100%; text-align: left;}
.act_selection li span{position: absolute;right: 0;}

.top_edit{margin:50px 0px; border: 1px solid black;position: relative;}
.top_edit ul{display: inline-block;vertical-align: top;}
.scene_menu,
.data_menu,
.diag_menu,
.option_menu{display: inline-block;vertical-align: top;}
/*********SCENE MENU************/
.scene_menu{ width:250px;background:rgba(0, 0, 0, 0.73);color:white; padding:5px; min-height: 100%;}
.scene_menu ul{width:100%;overflow-y:scroll;max-height: 600px;}
.scene_menu li{position: relative;padding:5px;}
.scene_menu li div{display: inline-block;width:210px;}
.scene_menu li:hover{cursor:pointer;background:rgba(235, 202, 147, 0.5);}
.scene_menu li a{display:inline-block;position: absolute;right: 0px;}
.scene_menu .selected{background:rgba(93, 207, 206, 0.5);}

/*********DATA MENU************/
.data_menu{width:210px; position: relative;}
.data_menu ul{margin:5px;}
.data_menu li{padding:5px 5px; position: relative;}
.data_menu .edit-data{background:rgba(93, 207, 206, 0.5);}
.data_menu .data_value_select{position: absolute;width:300px;left:80%; top:40px; background:rgba(0, 0, 0, 0.80);z-index:10; color:white; display: none;}
.data_menu .data_value_select li:hover{background:rgba(235, 202, 147, 0.5); cursor:pointer; }
.data_menu .data_value_select li{min-height: 14px;}


/*********DIAG MENU************/
.diag_menu{width:330px;}
.diag_menu ul{width:100%;}
.diag_menu ul li{width:100%;padding:5px;position: relative;}
.diag_menu ul li:hover{cursor: pointer;background:rgba(235, 202, 147, 0.5); }
.diag_menu ul li a{position: absolute;right: 10px;}
.diag_menu .name::after{content:": ";}
.diag_menu input[name="name"]{width:63px;}
.diag_menu input[name="content"]{width:216px;}

/*********OPTION MENU************/
.option_menu{width:330px;}
.option_menu ul{width:100%;}
.option_menu ul li{width:100%;padding:5px;position: relative;}
.option_menu ul li:hover{cursor: pointer;background:rgba(235, 202, 147, 0.5); }
.option_menu ul li a{position: absolute;right: 5px;}
.option_menu .content::after{content:"";}
.option_menu .outcome{position: absolute;right:10px;}
.option_menu input[name="outcome"]{width:13px;}
.option_menu input[name="content"]{width:265px;}
.option_menu ul li a{position: absolute;right: 10px;}

.option_menu ul,
.diag_menu ul{overflow-y: scroll; max-height: 600px; overflow-x:hidden;}

/*********IO MENU************/
.IO_menu textarea{width:100%;}

/*********HELP MENU************/
.help_menu{position: fixed; left:100%; margin-left:-50px; transition: 0.5s ease;
    top:30%; width:350px;height:400px;}
.help_menu:hover{margin-left:-350px;}
.help_menu:hover>.circ{margin-left:55px;margin-top:0px;background:rgba(255, 255, 255, 0);}
.help_menu .circ{background: rgba(0, 0, 0, 0.8); width:50px;height:50px; line-height: 50px;color:white;text-align: center; transition: 0.5s ease; position: relative; border-top-left-radius: 50%;border-bottom-left-radius: 50%;}
.help_menu .content{background:rgba(0, 0, 0, 0.8); width:300px;position: absolute; left:50px;margin:auto; }
.help_menu .content p{color:white; margin: 0px 10px;}
.help_menu ul{color: white;padding:20px 0px 0px 100px;border-bottom: 2px solid black;}
.help_menu ul li{display: inline-block;padding: 5px 10px;}
.help_menu ul li:hover{background: rgba(235, 202, 147, 0.5);cursor: pointer;}
.help_menu .selected{background:rgba(0, 0, 0, 0.8);}
